.home {
  width: 100%;
}

.container3 {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}

.section-title {
  padding-top: 40px;
  padding-bottom: 20px;
}

.constructor-image {
  padding-top: 20px;
}

@media (max-width: 1023px) {
  .container {
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  .home-section {
    text-align: center;
  }
  .view-all-link {
    margin-top: 12px;
    display: inline-block;
  }
}