.footer {
  width: 100%;
  min-height: 450px;
  margin-top: 50px;
}

.container4 {
  max-width: 1440px;
  margin: 0 auto;
  padding: 15px 40px;
}

.container4 input {
  padding-left: 20px;
}

.main-footer {
  padding-top: 30px;
  padding-bottom: 15px;
}

.footer-bottom {
  padding-top: 20px;
}

.kn {
  margin-top: 10px;
}

.divider,
.footer-bottom-divider {
  width: 100%;
  margin-top: 15px;
  height: 1px;
  background-color: #006CBA;
}

.mobile-footer {
  display: none;
}

@media (max-width: 1023px) {
  .container {
    padding: 0 20px;
  }

  .subscribe-section {
    flex-direction: column;
    gap: 12px;
    height: auto;
  }

  .main-footer {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 8px;
    text-align: center;
  }

}

/* Мобильная версия */
@media (max-width: 768px) {
  .main-footer, .subscribe-section, .footer-bottom, .footer-bottom-divider {
    display: none;
  }

  .mobile-footer {
    display: block;
    margin: 15px 0;
  }

  .footer-section {
    margin-bottom: 8px;
  }

  .footer-header {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0B7AC9;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    border: none;
    padding: 0 12px;
    border-radius: 6px;
    cursor: pointer;
  }

  .footer-content {
    background-color: #B7E0FF;
    padding: 12px;
    border-radius: 6px;
    margin-top: 4px;
  }

  .footer-link {
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 6px;
  }

  .footer-link:last-child {
    margin-bottom: 0;
  }

  /* Отдел доставки */

  .delivery-section h4 {
    color: white;
    font-size: 14px;
    margin-bottom: 8px;
  }

  .delivery-section p {
    color: white;
    font-size: 12px;
    margin: 0;
  }

  /* Иконки соцсетей */
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 18px;
    padding: 12px 0;
  }

  .social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
  }
}
