@import "tailwindcss";

.header {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  width: 100%;
  height: 100;
}

.mobile-search, .location-icon {
  display: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px 15px 40px;
}

.container img {
  padding-right: 70px;
}

.catalog-button {
  width: 119px;
  align-items: center;
  justify-content: center;
}

.catalog-button:hover {
  background-color: #024474;
}

.cata {
  padding-right: 70px;
}

.header-search input {
  padding-left: 20px;
}

.header-icons {
  padding-left: 70px;
}

.container2 {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px 15px 40px;
}

.header-nav {
  padding: 0 40px;
}

.mobile-menu-button {
  display: none;
}


@media (max-width: 768px) {

  .container,
  .container2 {
    padding: 0 16px;
  }

  /* Скрыть текст в верхней панели */
  .header-top,
  .header-search {
    display: none;
  }

  .location-icon {
    display: flex;
  }

  .header-main {
    position: relative;
    height: 50px;
    padding: 8px 0;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
  }

  /* Логотип — по центру */
  .header-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .container img {
    height: 33px;
    padding: 0;
  }

  .header-logo .logo-image {
    object-fit: contain;
  }

  .header-icons {
    display: none;
  }

  .cata {
    display: none;
  }

  /* Показать бургер-меню */
  .mobile-menu-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  /* Поиск — уменьшить и сделать голубым */

  .mobile-search {
    display: block;
  }
  .head-search {
    padding: 8px 16px;
  }

  .search-wrapp {
    position: relative;
  }

  .search-inp {
    width: 100%;
    height: 24px;
    padding: 0 32px 0 12px;
    border-radius: 12px;
    font-size: 14px;
  }

  .search-ic {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
  }

  .header-nav {
    display: none;
  }

  .nav-link {
    padding: 0 8px;
  }
}


/* Адаптивность */
@media (max-width: 1023px) {
  .container {
    padding: 0 20px;
  }

  .header-main {
    gap: 16px;
  }

  .header-search {
    max-width: 300px;
  }

  .header-icons {
    gap: 16px;
  }
}