/* src/index.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  background-color: #ffffff;
}

/* Общий контейнер для всего сайта */
.app-wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Контент (главная, каталог и т.д.) */
.main-content {
  flex: 1;
}